<mat-card elevation="5" fxFlex class="content">
  <mat-card-title>
    <h2>{{competitionName}}</h2>
  </mat-card-title>
  <mat-card-content>
    <p></p>
    <form (ngSubmit)="onSubmit()" *ngIf="!submitted">
      <div class="row">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Discipline type: </mat-label>
            <input name ="type" [(ngModel)]="discipline.disciplineType" matInput>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Group category: </mat-label>
            <input name ="groupCategory" [(ngModel)]="discipline.groupCategory" matInput>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Gender category: </mat-label>
            <input name ="genderCategory" [(ngModel)]="discipline.genderCategory" matInput>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" *ngIf="disciplineKumite">
            <mat-label>Weight category: </mat-label>
            <input name ="weightCategory" [(ngModel)]="discipline.weightCategory" matInput>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" >
            <mat-label>Select group</mat-label>
            <mat-select name="groups" [(ngModel)]="selectedGroup" (ngModelChange)="findStudentsInGroup()" [formControl]="groupFormControl">
              <mat-option [value]="null" disabled>Select group</mat-option>
              <mat-option *ngFor="let group of groups" [value]="group">
                {{group.groupName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" >
            <mat-label>Select student</mat-label>
            <mat-select name="students" [(ngModel)]="userId" [formControl]="studentFormControl">
              <mat-option [value]="null" disabled>Select student</mat-option>
              <mat-option *ngFor="let student of students" [value]="student.userId">
                {{student.name}} {{student.surname}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <button color="primary" class="btn" mat-raised-button type="submit">REGISTER STUDENT</button><br>
<!--              [disabled]="groupFormControl.invalid || studentFormControl.invalid"-->

    </form>
    <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
  </mat-card-content>
</mat-card>
<footer></footer>




