<mat-card elevation="5" fxFlex class="content">
  <mat-card-title>
    <h2 *ngIf="isAdministrator">{{title}}</h2>
    <h2 *ngIf="isCoach">Student registration</h2>
  </mat-card-title>
  <mat-card-content>
    <p></p>
    <form (ngSubmit)="onSubmit()" *ngIf="!submitted">
      <div class="row">
        <div>
          <mat-form-field *ngIf="isAdministrator" appearance="fill">
            <mat-label>User type</mat-label>
            <mat-select name ="role" matNativeControl [(ngModel)]="user.userType" [formControl]="roleFormControl" required>
              <mat-option value="COACH">COACH</mat-option>
              <mat-option value="STUDENT">STUDENT</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>First name: </mat-label>
            <input matInput name="firstName" [(ngModel)]="user.name" [formControl]="name" required>
            <mat-error *ngIf="name.invalid">You must enter first name</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Last name: </mat-label>
            <input matInput name="lastName" [(ngModel)]="user.surname" [formControl]="lastName" required>
            <mat-error *ngIf="lastName.invalid">You must enter last name</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Email: </mat-label>
            <input name ="email" [(ngModel)]="user.email" matInput [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" *ngIf="this.user.userType == 'COACH'">
            <mat-label>Coach licence number: </mat-label>
            <input name ="licence" [(ngModel)]="user.licenceNumber" matInput required [formControl]="licenceNumberFormControl">
            <mat-error *ngIf="licenceNumberFormControl.invalid">You must enter licence number</mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="this.user.userType == 'STUDENT' || isCoach" appearance="fill">
            <mat-label>Belt color</mat-label>
            <mat-select name ="beltColor" matNativeControl [(ngModel)]="user.beltColor" [formControl]="beltFormControl" required>
              <mat-option value="WHITE">WHITE</mat-option>
              <mat-option value="YELLOW">YELLOW</mat-option>
              <mat-option value="ORANGE">ORANGE</mat-option>
              <mat-option value="RED">RED</mat-option>
              <mat-option value="GREEN">GREEN</mat-option>
              <mat-option value="BLUE">BLUE</mat-option>
              <mat-option value="PURPLE">PURPLE</mat-option>
              <mat-option value="BROWN">BROWN</mat-option>
              <mat-option value="BLACK">BLACK</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password: </mat-label>
            <input name ="password" [(ngModel)]="user.password" matInput required type="password" [formControl]="password" required>
            <mat-error *ngIf="password.invalid">You must enter password with at least 6 characters</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Repeat password: </mat-label>
            <input name ="repeatedPassword" [(ngModel)]="passwordRepeated" matInput required type="password" [formControl]="passwordConfirm" required>
            <mat-error *ngIf="passwordConfirm.invalid" >You must enter a repeated password</mat-error>
          </mat-form-field>
          <label *ngIf="!passwordMatchValidator()" style="color: red;">Passwords do not match</label>
        </div>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select name ="gender" matNativeControl [(ngModel)]="user.gender" [formControl]="genderFormControl" required>
              <mat-option value="MALE">MALE</mat-option>
              <mat-option value="FEMALE">FEMALE</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>JMBG: </mat-label>
            <input name ="jmbg" [(ngModel)]="user.jmbg" matInput [formControl]="jmbgFormControl" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Phone number: </mat-label>
            <input name ="phone number" [(ngModel)]="user.phoneNumber" matInput required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Street: </mat-label>
            <input name ="street" [(ngModel)]="street" matInput [formControl]="streetFormControl" required>
            <mat-error *ngIf="name.invalid">You must enter street</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Street number: </mat-label>
            <input name ="streetNumber" [(ngModel)]="number" [formControl]="streetNumberFormControl" matInput required>
            <mat-error *ngIf="name.invalid">You must enter street number</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>City: </mat-label>
            <input name ="city" [(ngModel)]="city" matInput [formControl]="cityFormControl" required>
            <mat-error *ngIf="name.invalid">You must enter city</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Country: </mat-label>
            <input name ="country" [(ngModel)]="country" matInput [formControl]="countryFormControl" required>
            <mat-error *ngIf="name.invalid">You must enter country</mat-error>
          </mat-form-field>

        </div>
      </div>
      <br><br>
      <button color="primary" [disabled]="email.invalid || name.invalid || lastName.invalid || password.invalid || passwordConfirm.invalid
              || streetFormControl.invalid || streetNumberFormControl.invalid ||
               cityFormControl.invalid || countryFormControl.invalid
               || genderFormControl.invalid || jmbgFormControl.invalid"
              class="btn" mat-raised-button type="submit">REGISTER {{user.userType}}</button><br>
    </form>
    <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
  </mat-card-content>
</mat-card>
<footer></footer>


