<h2 mat-dialog-title style="margin-left: 10px">Change password</h2>
<div mat-dialog-content style="width: 220px; align-content: center">
    <div class="row">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Old Password: </mat-label>
          <input name ="oldPassword" type="password" [(ngModel)]="newPassword.oldPassword" matInput required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>New Password: </mat-label>
          <input name ="new password" type="password" [(ngModel)]="newPassword.password" matInput required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Repeat the new password: </mat-label>
          <input name ="repeated password" type="password" [(ngModel)]="newPassword.passwordRepeated" matInput required>
        </mat-form-field>
      </div>
    </div>
  <label *ngIf="message != ''" style="color: red;">{{message}}</label><br>
    <button color="primary" class="submit-button" (click)="changePassword()" mat-raised-button type="submit">Submit the new password</button>
</div>
<div mat-dialog-actions style="alignment: center">
  <button class="cancel-button" mat-raised-button color="secondary" (click)="closeDialog()">cancel</button>
</div>

