<div class="container">
  <table mat-table [dataSource]="dataSourceMedals">

    <ng-container matColumnDef="competitionName">
      <th mat-header-cell *matHeaderCellDef class="cell-center"> Competition name </th>
      <td mat-cell *matCellDef="let medal" class="cell-center"> {{medal.competitionName}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef class="cell-center"> Date </th>
      <td mat-cell *matCellDef="let medal" class="cell-center"> {{medal.date[2]}}.{{medal.date[1]}}.{{medal.date[0]}}. </td>
    </ng-container>

    <ng-container matColumnDef="medal">
      <th mat-header-cell *matHeaderCellDef class="cell-center"> Medal </th>
      <td mat-cell *matCellDef="let medal" class="cell-center"> {{medal.medalType}} </td>
    </ng-container>

    <ng-container matColumnDef="student">
      <th mat-header-cell *matHeaderCellDef class="cell-center"> Awarded student </th>
      <td mat-cell *matCellDef="let medal" class="cell-center"> {{medal.awardedStudentName}} {{medal.awardedStudentSurname}} </td>
    </ng-container>

    <ng-container matColumnDef="discipline">
      <th mat-header-cell *matHeaderCellDef class="cell-center"> Discipline type </th>
      <td mat-cell *matCellDef="let medal" class="cell-center"> {{medal.disciplineType}} </td>
    </ng-container>

    <ng-container matColumnDef="gender category">
      <th mat-header-cell *matHeaderCellDef class="cell-center"> Gender category </th>
      <td mat-cell *matCellDef="let medal" class="cell-center"> {{medal.genderCategory}} </td>
    </ng-container>

    <ng-container matColumnDef="group category">
      <th mat-header-cell *matHeaderCellDef class="cell-center"> Group category </th>
      <td mat-cell *matCellDef="let medal" class="cell-center"> {{medal.groupCategory}} </td>
    </ng-container>

    <ng-container matColumnDef="weight category">
      <th mat-header-cell *matHeaderCellDef class="cell-center"> Weight category </th>
      <td mat-cell *matCellDef="let medal" class="cell-center"> {{medal.weightCategory}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsMedals; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsMedals;"></tr>
  </table>
</div>

